<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Project - <%=project.name%></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">CC-Edit</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Download as Zip</a></li>
                <li><a href="#contact">Share</a></li>
              </ul>            
              <ul class="nav pull-right">
                <li class="dropdown ">
                  <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown"><%= user.username %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Account Info</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logoff</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!--<script type="text/x-handlebars"> <!-- handelbars dynamic content -->
        <div id="wrap" class="container-fluid">      
          
          <div class="row-fluid">

            <!-- Files list -->
            <div class="span2">
              <div class="well sidebar-nav">
                <ul id="project-files" class="nav nav-list">
                  <li class="nav-header">Files</li>
                  <!--<li class="active"><a href="#">Sample file</a></li>-->
                  <!--<li><a onclick="loadFile('50b3169fd5b15beb0e000005', this)" href="#">sample.html</a></li>-->
                </ul>
              </div><!--/.well -->
            </div><!--/span-->

            <!-- main area for code -->
            <div class="span8">

              <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">filename1.html<button class="close" type="button">×</button></a></li>
                  <li><a href="#tab2" data-toggle="tab">filename2.html</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1">

                  
                    <div id="code-content" class="hero-unit" contenteditable="true">
                      <p>{{App.currentFile.contents}}</p>
                      
                    </div>
                    <div class="row-fluid">            
                    </div><!--/row-->


                  </div>
                  <div class="tab-pane" id="tab2">
                    <p>file 2</p>
                  </div>
                </div>
              </div>
            </div><!--/span-->

            <!-- online users -->
            <div class="span2">
              <div class="well sidebar-nav">
                <ul id="online-users" class="nav nav-list">
                  <li class="nav-header">Online Users</li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->

            <!-- chat bar -->
            <div class="span2">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Chat</li>
                  <li id="chat-alert-success" class="alert alert-info" style="display:none"></li>
                  <li id="messages"></li>
                </ul>
                  <textarea id="chat-text" rows="4" ></textarea><input type="button" value="Send" id="send-button">            
                
              </div><!--/.well -->
            </div><!--/span-->        

          </div><!--/row-->
          
          <hr>
          <footer>
              <p>&copy; Company 2012</p>
          </footer>      

        </div> <!-- /container -->

      <!--</script><!-- end of handelbars dynamic content -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.8.0.min.js"><\/script>')</script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/diff_match_patch.js"></script>
        
        <script src="/js/vendor/handlebars-1.0.rc.1.js"></script>
        <script src="/js/vendor/ember-1.0.0-pre.2.min.js"></script>
        <!--<script src="/js/app.js"></script> -->

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!--<script src="../nowjs/now.js"></script> -->

        <script>
          $(document).ready(function(){
            
          $("#text-input").focus();
            var files = new Array();
            <% for(i=0; i<project.files.length; i++){ %>
              var obj={
              fileId : '<%=project.files[i].fileId%>',
              fileName: '<%=project.files[i].fileName%>'
              }
              files.push(obj);

            <%}%>            

            $.each(files, function(index, value) { 
              $("#project-files").append('<li><a href="#" onclick="loadFile(\''+value.fileId+'\', this)">'+value.fileName+'</a></li>');
            });


            /** add onchange event for contenteditable 
            borrowed from :http://stackoverflow.com/questions/1391278/contenteditable-change-events **/
            $('[contenteditable]').live('focus', function() {
                var $this = $(this);
                $this.data('before', $this.html());
                return $this;
            }).live('blur keyup paste', function() {
                var $this = $(this);
                if ($this.data('before') !== $this.html()) {
                    $this.data('before', $this.html());
                    $this.trigger('change');
                }
                return $this;
            });
            
            
          });

          /*function loadFile(value, ele){
              $("#code-content").load("../file/"+value);
              $(ele).parent().parent().children().removeClass("active");
              $(ele).parent().addClass("active");
            }*/
        </script>

        <!-- Google Analytics Code -->
        <script>
            /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
        </script>



        <script>
            /**************************
            * WEBSOCKET CHAT OPERATIONS
            **************************/
            var chat = io.connect('http://localhost:3000/chat');

            // on connection to server, ask for user's name with an anonymous callback
            chat.on('connect', function(){
              // call the server-side function 'adduser' and send one parameter (value of prompt)
              chat.emit('adduser', "<%= user.username %>");
            });

            // listener, whenever the server emits 'updatechat', this updates the chat body
            chat.on('updatechat', function (username, data) {
              if(username=='SERVER'){
                $("#chat-alert-success").text(data).fadeIn();
                window.setTimeout( function(){
                    $("#chat-alert-success").slideUp();
                }, 5000);
              }else{
                $('#messages').append('<b>'+username + ':</b> ' + data + '<br>');
              }
            });

            // listener, whenever the server emits 'updateusers', this updates the username list
            chat.on('updateusers', function(data) {
              $('#online-users').empty();
              $.each(data, function(key, value) {
                $('#online-users').append('<li>' + key + '</li>');
              });
            });

            // on load of page
            $(function(){
              // when the client clicks SEND
              $('#send-button').click( function() {
                var message = $('#chat-text').val();
                $('#chat-text').val('');
                // tell server to execute 'sendchat' and send along one parameter
                chat.emit('sendchat', message);
              });

              // when the client hits ENTER on their keyboard
              $('#chat-text').keypress(function(e) {
                if(e.which == 13) {
                  $('#send-button').click();
                  return false;
                }
              });
            });

            /**************************
            * WEBSOCKET FILE OPERATIONS
            **************************/
            var file = io.connect('http://localhost:3000/file');
            var currentFile;
            var currentFileContents;
            var currentFile = {
              _id: null,
              name: null,
              contents: null
            }

            file.on('connect', function(){
              //file.emit('adduser', "<%= user.username %>");
            });

            function loadFile(value, ele){
              file.emit('getFile', value);
              $(ele).parent().parent().children().removeClass("active");
              $(ele).parent().addClass("active");
              //$('body').addClass("loading");
            }

            file.on('putFile', function (newFile) {
              currentFile = newFile;
              $("#code-content").text(currentFile.contents);              
              //App.currentFile.update(fileData);
             // $('body').removeClass("loading");         
            });

            $("#code-content").bind('change', function(){
                file.emit('updateFile', {
                  "contents":$("#code-content").text(),
                  "name":currentFile.name,
                  "_id":currentFile._id
                });
            });
           

            file.on('updateFile', function (newFile) {
              if(currentFile._id == newFile._id){
                var newText = getDiff(currentFile.contents, newFile.contents);
                $("#code-content").html(newText);
                currentFile=newFile;
                //App.currentFile.update(fileData);
              }                       
            });
            

            /**************************
            * MISC FUNCTIONS
            **************************/
            function getDiff(text1, text2) {
              var dmp = new diff_match_patch();
              dmp.Diff_Timeout = 1;
              dmp.Diff_EditCost = 4;

              var d = dmp.diff_main(text1, text2);

              //dmp.diff_cleanupSemantic(d);
              dmp.diff_cleanupEfficiency(d);

              var ds = dmp.diff_prettyHtml(d);
              return ds;
            }

            /*http://jsperf.com/htmlencoderegex */
            function htmlEscape(str) {
                return String(str)
                        .replace(/&/g, '&amp;')
                        .replace(/"/g, '&quot;')
                        .replace(/'/g, '&#39;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;');
            }
        </script>

    </body>
</html>
